html{
    color: black;
}



body{
    
    margin: 0%;
    padding: 0%;
}

header{
    
    width: 100%;

}

.button{
    background-color: rgb(151, 42, 165);
    height: 30%;
    width: 30%;
    border-radius: 5% 5% 5% 5%;
    text-align: center;
    color: white;
    
}

h1{
    font-size: 300%;
}

.card{
    display: flex;
    text-align: center;
    height: 30%;
    width:  40%;
    border-color: black;
    border-width: 2px;
    border-style:groove;
    margin: 5%;
    padding: 5%;
}

footer{
    width: 100%;
}

div{
    background-color: white;
}