html{
    font-family: monospace;
}

body{
    
}

a{
text-decoration: none;
color: black;
}

header{

}

h1{
    text-align: center;
    font-size: 300%;
}

.row{

}

.button{
    text-align: center;
    display: inline-block;
    background-color: green;
    width: 29%;
    margin: 1%;
    border-color: green;
    border-style: groove;
    border-radius: 3%;
    
    
}
.button:active{
    background-color: darkgreen;
}

.button-paragraph{
    color: white;
    font-weight: bold;
    border-radius: 2%;

    
}

.card{
    text-align: center;
    display: inline-block;
    background-color: white;
    width: 29%;
    margin: 1%;
    border-color: black;
    border-style: groove;
    border-radius: 2%;
}